Django==5.1.4
asgiref==3.8.1
django-import-export==4.3.7
scikit-learn==1.6.1
gunicorn==21.2.0
click==8.1.7
requests==2.32.3
certifi==2024.7.4
urllib3==2.2.2
charset-normalizer==3.3.2
idna==3.8
sympy>=1.7.1
whitenoise==6.5.0
matplotlib==3.10.6
spacy==3.5.4
