{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset Complete - GoHCMC</title>
  <link rel="stylesheet" href="{% static 'register/css/password_reset_complete.css' %}">

  <script>
    const theme = localStorage.getItem("theme") || "light";
    document.documentElement.setAttribute("data-theme", theme);
  </script>
</head>
<body>

<div class="reset-background">
    <div class="reset-container">
        <img src="{% static 'img/Logo_GoHCMC.png' %}" alt="Logo" class="reset-logo">
        <h2>Password Reset Complete</h2>
        <p>Your password has been reset successfully.</p>

        <div class="back-login">
            <a href="{% url 'login' %}">Back to Login</a>
        </div>
    </div>
</div>

</body>
</html>
