.banner {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 32px;
    border-radius: 8px;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 80%;

    /* Ưu tiên phần dưới của ảnh */
    filter: brightness(0.6);
    display: block;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.banner-overlay h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.banner-overlay p {
    font-size: 1.5rem;
    margin-top: 16px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.palace-section {
    padding: 40px 20px;
    text-align: center;
}

.palace-section h3 {
    font-size: 2rem;
    margin-bottom: 16px;
    text-align: center;
}

.palace-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: left;
    grid-column: auto / span 3;
}

.palace-item {
    height: 550px;
    width: 400px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 20px;
    background-color: var(--card-bg);
}

.palace-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.palace-info {
    height: 100px;
    padding: 15px;
}

.palace-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.palace-item h4 {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    height: 50px;
}

.palace-item p {
    font-size: 0.9rem;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Favourite button */
.favourite {
    margin-left: auto;
}

.favourite .fav-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
}

.favourite i {
    color: var(--danger);
}

.rating {
    color: #f5c518;
    font-size: 1rem;
}

.why-choose-us {
    align-items: center;
    padding: 20px;
    background-color: aqua;
}

.why-choose-us h3 {
    font-size: 2rem;
    margin-bottom: 16px;
    text-align: center;
}

.why-choose-us ul {
    list-style-type: disc;
    padding-left: 20px;
}